body {background-color:grey;
}
h1{color:white;
text-decoration:underline overline;
}
p{color:white;
font-size:20px;
border-style:solid;
border-weight:10px;
font-family:"Comic Sans MS", cursive, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  color:white;
 font-size:20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: grey;
}

#fight {
width:400px;
height:400px;
height: auto;  width: 100%;
}
mark {
  background-color: yellow;
  color: black;
}
